ChatterBot==1.0.5
chatterbot_corpus==1.2.0
Flask==1.1.2
Flask-Cors==3.0.8
gunicorn==20.0.4
h5py==2.9.0
jieba==0.42.1
nltk== 3.4.5
pypyodbc
pyOpenSSL==19.1.0
PyYAML==5.1

click==7.1.2
cloudpickle==1.2.2
clyent==1.2.1
colorama==0.4.1
comtypes==1.1.7
contextlib2==0.6.0
cryptography==3.0
cycler==0.10.0
cymem==2.0.3
Cython==0.29.13
cytoolz==0.10.0
dask==2.5.2
decorator==4.4.0
defusedxml==0.6.0
distlib==0.3.0
distributed==2.5.2
dj-database-url==0.5.0
dj-static==0.0.6
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
